/* // Password.css */
.password-container {
    /* Добавьте отступ сверху и снизу для создания пространства между элементами */
    padding-top: 20px;
    padding-bottom: 100px;
}

/* Добавьте стили для элемента InputForm, если он имеет свой класс */
.input-form {
    margin-bottom: 500px; /* Отступ снизу для поля ввода */
}

/* Добавьте стили для таблицы, если она имеет свой класс */
.guess-table {
    margin-top: 100px; /* Отступ сверху для таблицы */
}
